version: '3.2'

volumes:
  gnoc_logs: {}

services:
  configuration-service:
    build:
      context: ../
      args:
        PROJECT_VERSION: 1.3.3
        JDK_BASE_IMAGE: 10.240.201.50:7890/centos:oracle-jdk-10
    image: "10.240.201.50:7890/gnoc/production/configuration-service:1.3.3"
    container_name: "configuration-service"
    network_mode: "host"
    volumes: ['gnoc_logs:/app/log']
    environment:
      TZ: "Asia/Ho_Chi_Minh"
    restart: always
    healthcheck:
      interval: 15s
      timeout: 10s
      retries: 20
      test: ["CMD", "curl", "-f", "http://localhost:8082/actuator/health"]


